.config/QtProject.conf
.config/dconf
.config/fcitx
.config/fcitx5
.config/flameshot
.config/go
.config/heroic
.config/htop
.config/ibus
.config/keepassxc
.config/melonDS
.config/mgba
.config/mimeapps.list
.config/mozc
.config/mozilla
.config/pulse
.config/qBittorrent
.config/rclone
.config/xarchiver
.config/xfce4
