#
# .gitignore - exclude files
#

# Cookies
.config/fcitx
.config/go
.config/ibus
.config/java
.config/pulse

# Generated
.config/QtProject.conf
.config/nvim/lazy-lock.json
.local/share/fonts/**/.uuid

# Irrelevant
.config/dmenufm
.config/gtk-3.0
.config/gtk-4.0
.config/bat
.config/htop
.config/npm
.config/wget
.config/keepassxc
.config/xarchiver
.config/qBittorrent

# Data
.config/dconf
.config/fcitx5
.config/mozc

# Symlinks
.config/chromium
.config/heroic
.config/mozilla
