[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/angelogambara/piccolo.nvim
	branch = master
[submodule ".config/zsh"]
	path = .config/zsh
	url = git@github.com:angelogambara/zdotdir.git
	branch = angelo
