[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=alacritty -e nvim %F %f
Name=alacritty -e nvim %F
Comment=Custom definition for alacritty -e nvim %F
