[Unit]
Description=Run Borg Backup on Schedule

[Timer]
# Try running each hour of the day
OnCalendar=hourly
RandomizedDelaySec=5m

[Install]
WantedBy=timers.target
